---
// library imports
import { Image } from '@astrojs/image/components';

// utils imports
import { slugify, formatDate } from "../scripts/utils.js";

// component imports
import Link from './Link.astro';

const { frontmatter, url, tagType="h2" } = Astro.props;

const Tag = tagType;

const {
  title,
  date,
  author,
  image,
  description,
  category
} = frontmatter;
---

<article class="card">
    <small>
      <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
    </small>
    <a href={url} aria-hidden="true" tabindex="-1">
      <Image 
        src={image.src}
        alt={image.alt}
        width={400}
        height={250}
        format="avif"
        aspectRatio={"4:1"}
  />
    </a>
    <div class="content">
      <div>
        <Tag class="h3">
          <a href={url}>{title}</a>
        </Tag>
            <small>by <a href={`/author/${slugify(author)}/`}>{author}</a> - {formatDate(date)}</small>
      </div>
      <p>{description}</p>
      <Link text="Read Post" href={url} style='secondary' />
    </div>
</article>